* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

*:after,
*:before {
  box-sizing: inherit;
}

p {
  margin-bottom: 0 !important;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  height: -moz-max-content;
  height: max-content;
  max-width: 640px;
  overflow: hidden;
  margin: 0 auto;
  overflow-x: hidden;
  background: black;
}

main {
  background-image: url("../img/bg.jpg");
  min-height: 100vh;
  height: 100%;
  background-size: 100%;
  padding: 24px;
  background-repeat: no-repeat;
}

h1:not(.modal-title) {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: unset;
  text-align: center;
  letter-spacing: 1.2px;
}

.modal-header {
  border-bottom: unset;
  justify-content: center;
  padding-bottom: 0;
}

.modal-body {
  max-height: 60vh;
  text-align: justify;
  overflow: scroll;
}
.modal-body .formWarning {
  font-size: 15px;
}

.modal-footer {
  border-top: unset;
}

.modal-dialog {
  margin: auto 24px;
}

.main-red-btn {
  background-color: #fa000f;
  color: #fff;
  border-radius: 28px;
  box-shadow: 0px 4px #b60000;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 52px;
  font-weight: bold;
}

input {
  background-color: #fff;
  width: 100%;
  border-radius: 28px;
  line-height: 50px;
  padding: 0 20px;
}
input:focus-visible {
  outline: #fa000f auto 1px;
}

::-moz-placeholder {
  color: #c0c0c0;
  font-size: 15px;
  opacity: 1; /* Firefox */
  text-transform: capitalize;
}

::placeholder {
  color: #c0c0c0;
  font-size: 15px;
  opacity: 1; /* Firefox */
  text-transform: capitalize;
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #c0c0c0;
  font-size: 15px;
  text-transform: capitalize;
}

.popup-text {
  color: #fff;
  gap: 10.2px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.popup-text span {
  text-decoration: underline;
}

.banner {
  margin-bottom: 38px;
}

.content {
  position: relative;
}

.blur_bg {
  position: absolute;
  bottom: 0px;
  background-color: black;
  width: 100%;
  height: 15px;
  filter: blur(6px);
}

.theLeModal {
  z-index: 100;
}