main {
  display: flex;
  flex-direction: column;
  gap: 46px;
  justify-content: center;
}
main form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.blur_bg {
  position: absolute;
  bottom: 20px;
  background-color: red;
  width: 100%;
  height: 5px;
}