.present {
  height: 60px;
  left: 0;
  margin: 0 auto;
  perspective: 600px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  z-index: 100;
  transition: all 3s ease-in-out;
  transition: top 1s ease-in-out;
}
.present.hidden {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.name {
  font-size: 4em;
  font-weight: 100;
  position: absolute;
  text-align: center;
  text-shadow: -3px 3px 0 rgba(229, 206, 129, 0.5);
  top: 50%;
  transform: translate3d(-15px, -50%, 0) rotateY(0) rotateX(0);
  transition: transform 2.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  width: -moz-max-content;
  width: max-content;
}
.name img {
  -o-object-fit: contain;
     object-fit: contain;
}

.instruction {
  bottom: -100px;
  left: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  transition: opacity 0.5s;
  width: 100%;
}

.rotate-container {
  animation: present-rotate 30s infinite linear;
  height: 100%;
  transform: rotateY(170deg);
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.rotate-container.hidden {
  pointer-events: none;
}

@keyframes present-rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.bottom,
.front,
.left,
.back,
.right {
  background-image: url("../img/phan-thuong/gift-box-bg.jpg");
  background-size: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bottom {
  transform: translateY(50%) rotateX(90deg);
}

.front,
.left,
.back,
.right {
  transition: all 0.5s;
  transform-origin: bottom;
  transform-style: preserve-3d;
}

.lid-front,
.lid-left,
.lid-back,
.lid-right {
  background-image: url("../img/phan-thuong/gift-box-bg.jpg");
  background-size: 100%;
}

.front:after,
.left:after,
.back:after,
.right:after,
.lid-top:after,
.lid-front:after,
.lid-left:after,
.lid-back:after,
.lid-right:after {
  background-color: #992429;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  content: "";
  height: 100%;
  left: calc(50% - 10px);
  position: absolute;
  transform: translateZ(0.1px);
  width: 15px;
}

.lid-top:before {
  background-color: #992429;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: calc(50% - 10px);
  transform: translateZ(0.1px);
  width: 100%;
}

.left {
  transform: translateX(-50%) rotateY(-90deg);
}

.back {
  transform: translateZ(-30px) rotateY(180deg) rotateX(0);
}

.right {
  transform: translateX(50%) rotateY(90deg);
}

.front {
  transform: translateZ(30px);
}

.lid {
  animation: lid-animation 3.5s 1s infinite;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transition: transform 2s;
}

@keyframes lid-animation {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0);
  }
  5% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  10% {
    transform: translate3d(0, -10px, 5px) rotateX(-5deg);
  }
  15% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  20% {
    transform: translate3d(0, -10px, 5px) rotateX(-5deg);
  }
  25% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  30% {
    transform: translate3d(0, 0, 0) rotateX(0);
  }
}
.lid-top,
.lid-left,
.lid-back,
.lid-right,
.lid-front {
  background-color: #e5ce81;
  border: 1px solid rgba(0, 0, 0, 0.2);
  left: -5px;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 70px;
  transition: all 2s ease-in-out;
}

.lid-top {
  height: 70px;
  top: -5px;
  transform: translateY(-50%) rotateX(90deg);
  transform-style: preserve-3d;
}

.lid-left,
.lid-back,
.lid-right,
.lid-front {
  height: 17px;
  top: -5px;
  transform-style: preserve-3d;
}

.lid-left {
  transform: translateX(-50%) rotateY(-90deg);
}

.lid-back {
  transform: translateZ(-35px) rotateY(180deg);
}

.lid-right {
  transform: translateX(50%) rotateY(90deg);
}

.lid-front {
  transform: translateZ(35px);
}

.present.open {
  top: 57%;
}
.present.open .name {
  transform: translate3d(-13px, -48%, 0) rotateY(1080deg) rotateX(10deg);
  scale: 2;
  transition: all 1s ease;
  width: -moz-max-content;
  width: max-content;
}
.present.open .instruction {
  opacity: 0;
}
.present.open .left {
  transform: translateX(-50%) rotateY(-90deg) rotateX(-90deg);
}
.present.open .back {
  transform: translateZ(-30px) rotateY(180deg) rotateX(-90deg);
}
.present.open .right {
  transform: translateX(50%) rotateY(90deg) rotateX(-90deg);
}
.present.open .front {
  transform: translateZ(30px) rotateX(-90deg);
}
.present.open .lid {
  opacity: 0;
  transform: translate3d(0, -120px, -120px) rotateX(50deg);
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 150px -244px hsl(338, 100%, 50%), -132px -106px hsl(73, 100%, 50%), 30px 48px hsl(174, 100%, 50%), -93px 16px hsl(330, 100%, 50%), 92px -22px hsl(276, 100%, 50%), -134px -185px hsl(41, 100%, 50%), -56px -189px hsl(274, 100%, 50%), 169px -225px hsl(128, 100%, 50%), -34px -176px hsl(160, 100%, 50%), 74px -1px hsl(240, 100%, 50%), -115px -182px hsl(24, 100%, 50%), -22px -41px hsl(292, 100%, 50%), 9px -202px hsl(97, 100%, 50%), -69px -187px hsl(230, 100%, 50%), 118px -184px hsl(137, 100%, 50%), 157px -64px hsl(218, 100%, 50%), 137px -247px hsl(30, 100%, 50%), 155px -185px hsl(8, 100%, 50%), 153px -6px hsl(80, 100%, 50%), 188px 50px hsl(215, 100%, 50%), -129px -63px hsl(209, 100%, 50%), 100px -55px hsl(243, 100%, 50%), 74px -1px hsl(299, 100%, 50%), -11px -185px hsl(339, 100%, 50%), -142px -98px hsl(201, 100%, 50%), -120px -163px hsl(168, 100%, 50%), -74px -29px hsl(355, 100%, 50%), 51px -34px hsl(306, 100%, 50%), 168px -4px hsl(197, 100%, 50%), -23px -108px hsl(189, 100%, 50%), -18px -194px hsl(178, 100%, 50%), 15px -15px hsl(130, 100%, 50%), -47px -230px hsl(145, 100%, 50%), 171px -164px hsl(47, 100%, 50%), 56px -68px hsl(84, 100%, 50%), -49px -122px hsl(88, 100%, 50%), -133px -59px hsl(253, 100%, 50%), 52px 39px hsl(325, 100%, 50%), 60px -30px hsl(13, 100%, 50%), 145px -160px hsl(168, 100%, 50%), -196px -14px hsl(80, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
.titleGift {
  transition: all 5s ease;
}
.titleGift img {
  max-width: 400px;
}

.renderQua {
  height: -moz-max-content;
  height: max-content;
  max-height: 300px;
}
.renderQua > div {
  flex: content;
  transition: all 1s;
  height: 200px;
}
.renderQua > div.hidden {
  width: 0;
  flex: none;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.renderQua > div.active {
  width: 100%;
  scale: 1.5;
  height: 300px;
}

#sectionChonQua {
  position: relative;
}
#sectionChonQua .pyro {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  transition: all 0.3s ease-in-out;
}
#sectionChonQua .pyro.hidden {
  visibility: hidden;
}

.displayCode {
  position: relative;
  top: -30px;
  transition: all 0.5s ease;
}
.displayCode.hidden {
  width: 0;
  height: 0;
  visibility: hidden;
}
.displayCode .code {
  font-size: 30px;
  font-weight: bold;
  padding: 23px 0 27px 0;
  background-image: url("../img/phan-thuong/bg-ma-du-thuong.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  aspect-ratio: 558/160;
  transition: all 0.5s ease;
}
.displayCode .text-code {
  background: rgb(250, 0, 15);
  background: linear-gradient(0deg, rgb(250, 0, 15) 0%, rgb(255, 108, 113) 83%, rgb(182, 0, 0) 100%);
  color: white;
  padding: 9px 30px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 30px;
  width: -moz-max-content;
  width: max-content;
  transform: translate(-50%, 50%);
  transition: all 0.5s ease;
}