// reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}
*:after,
*:before {
  box-sizing: inherit;
}

p {
  margin-bottom: 0 !important;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  height: -moz-max-content;
  height: max-content;
  max-width: 640px;
  overflow: hidden;
  margin: 0 auto;
  overflow-x: hidden;
  background: black;
}

main {
  background-image: url("../img/bg.jpg");
  min-height: 100vh;
  height: 100%;
  background-size: 100%;
  padding: 24px;
  background-repeat: no-repeat;
}

h1:not(.modal-title) {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: unset;
  text-align: center;
  letter-spacing: 1.2px;
}

//-------------------------------------- Modal -------------------------------------//

.modal-header {
  border-bottom: unset;
  justify-content: center;
  padding-bottom: 0;
}
.modal-body {
  max-height: 60vh;
  text-align: justify;
  overflow: scroll;
  .formWarning {
    font-size: 15px;
  }
}
.modal-footer {
  border-top: unset;
}
.modal-dialog {
  margin: auto 24px;
}
