//-------------------------------------- Button -------------------------------------//
@mixin btnStyleRed {
  background-color: $RedColor;
  color: #fff;
  border-radius: 28px;
  box-shadow: 0px 4px #b60000;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 52px;
  font-weight: bold;
}
.main-red-btn {
  @include btnStyleRed;
}

//-------------------------------------- Input -------------------------------------//
@mixin inputStyle {
  background-color: #fff;
  width: 100%;
  border-radius: 28px;
  line-height: 50px;
  padding: 0 20px;
  &:focus-visible {
    outline: $RedColor auto 1px;
  }
}
input {
  @include inputStyle;
}
::placeholder {
  color: $PlaceHolder;
  font-size: 15px;
  opacity: 1; /* Firefox */
  text-transform: capitalize;
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: $PlaceHolder;
  font-size: 15px;
  text-transform: capitalize;
}

.popup-text {
  color: #fff;
  gap: 10.2px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  span {
    text-decoration: underline;
  }
}
