.present {
  height: $size;
  left: 0;
  margin: 0 auto;
  perspective: 600px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: $size;
  z-index: 100;
  transition: all 3s ease-in-out;
  transition: top 1s ease-in-out;
  &.hidden {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }
}

.name {
  font-size: 4em;
  font-weight: 100;
  position: absolute;
  text-align: center;
  text-shadow: -3px 3px 0 rgba(229, 206, 129, 0.5);
  top: 50%;
  transform: translate3d(-15px, -50%, 0) rotateY(0) rotateX(0);
  transition: transform 2.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  width: max-content;
  img {
    object-fit: contain;
  }
}

.instruction {
  bottom: -100px;
  left: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  transition: opacity 0.5s;
  width: 100%;
}

.rotate-container {
  animation: present-rotate 30s infinite linear;
  height: 100%;
  transform: rotateY(170deg);
  transform-style: preserve-3d;
  transition: all 1s ease;
  &.hidden {
    pointer-events: none;
  }
}

@keyframes present-rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

// Thân dưới hộp quà
.bottom,
.front,
.left,
.back,
.right {
  background-image: url("../img/phan-thuong/gift-box-bg.jpg");
  background-size: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bottom {
  transform: translateY(50%) rotateX(90deg);
}

.front,
.left,
.back,
.right {
  transition: all 0.5s;
  transform-origin: bottom;
  transform-style: preserve-3d;
}

.lid-front,
.lid-left,
.lid-back,
.lid-right {
  background-image: url("../img/phan-thuong/gift-box-bg.jpg");
  background-size: 100%;
}

.front,
.left,
.back,
.right,
.lid-top,
.lid-front,
.lid-left,
.lid-back,
.lid-right {
  &:after {
    background-color: $giftLiftColor;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 100%;
    left: calc(50% - 10px);
    position: absolute;
    transform: translateZ(0.1px);
    width: 15px;
  }
}

.lid-top {
  &:before {
    // background-color: #f2e6c0;
    background-color: $giftLiftColor;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: calc(50% - 10px);
    transform: translateZ(0.1px);
    width: 100%;
  }
}

.left {
  transform: translateX(-50%) rotateY(-90deg);
}
.back {
  transform: translateZ(-$size / 2) rotateY(180deg) rotateX(0);
}
.right {
  transform: translateX(50%) rotateY(90deg);
}
.front {
  transform: translateZ($size / 2);
}

.lid {
  animation: lid-animation 3.5s 1s infinite;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  transition: transform 2s;
}

@keyframes lid-animation {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0);
  }
  5% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  10% {
    transform: translate3d(0, -10px, 5px) rotateX(-5deg);
  }
  15% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  20% {
    transform: translate3d(0, -10px, 5px) rotateX(-5deg);
  }
  25% {
    transform: translate3d(0, -10px, -5px) rotateX(5deg);
  }
  30% {
    transform: translate3d(0, 0, 0) rotateX(0);
  }
}

.lid-top,
.lid-left,
.lid-back,
.lid-right,
.lid-front {
  background-color: #e5ce81;
  border: 1px solid rgba(0, 0, 0, 0.2);
  left: -5px;
  opacity: 1;
  position: absolute;
  top: 0;
  width: $size + 10px;
  transition: all 2s ease-in-out;
}

.lid-top {
  height: $size + 10px;
  top: -5px;
  transform: translateY(-50%) rotateX(90deg);
  transform-style: preserve-3d;
}

.lid-left,
.lid-back,
.lid-right,
.lid-front {
  height: 17px;
  top: -5px;
  transform-style: preserve-3d;
}

.lid-left {
  transform: translateX(-50%) rotateY(-90deg);
}
.lid-back {
  transform: translateZ(-$size / 2 - 5px) rotateY(180deg);
}
.lid-right {
  transform: translateX(50%) rotateY(90deg);
}
.lid-front {
  transform: translateZ($size / 2 + 5px);
}

.present.open {
  top: 57%;
  .name {
    transform: translate3d(-13px, -48%, 0) rotateY(1080deg) rotateX(10deg);
    scale: 2;
    transition: all 1s ease;
    width: max-content;
  }
  .instruction {
    opacity: 0;
  }

  .left {
    transform: translateX(-50%) rotateY(-90deg) rotateX(-90deg);
  }
  .back {
    transform: translateZ(-$size / 2) rotateY(180deg) rotateX(-90deg);
  }
  .right {
    transform: translateX(50%) rotateY(90deg) rotateX(-90deg);
  }
  .front {
    transform: translateZ($size / 2) rotateX(-90deg);
  }

  .lid {
    opacity: 0;
    transform: translate3d(0, -120px, -120px) rotateX(50deg);
  }
}
