@import "./base";
@import "./variable";
@import "./components";

.banner {
  margin-bottom: 38px;
}

.content {
  position: relative;
}

.blur_bg {
  position: absolute;
  bottom: 0px;
  background-color: black;
  width: 100%;
  height: 15px;
  filter: blur(6px);
}

.theLeModal {
  z-index: 100;
}
