@import "./variable";
@import "./gift";
@import "./firework";
.titleGift {
  transition: all 5s ease;
  img {
    max-width: 400px;
  }
}

.renderQua {
  height: max-content;
  max-height: 300px;

  & > div {
    flex: content;
    transition: all 1s;
    height: 200px;
    &.hidden {
      width: 0;
      flex: none;
      padding: 0;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
    &.active {
      width: 100%;
      scale: 1.5;
      height: 300px;
    }
  }
}
#sectionChonQua {
  position: relative;
  .pyro {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    transition: all 0.3s ease-in-out;
    &.hidden {
      visibility: hidden;
    }
  }
}

.displayCode {
  position: relative;
  top: -30px;
  transition: all 0.5s ease;
  &.hidden {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .code {
    font-size: 30px;
    font-weight: bold;
    padding: 23px 0 27px 0;
    background-image: url("../img/phan-thuong/bg-ma-du-thuong.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    aspect-ratio: 558/160;
    transition: all 0.5s ease;
  }
  .text-code {
    background: rgb(250, 0, 15);
    background: linear-gradient(
      0deg,
      rgba(250, 0, 15, 1) 0%,
      rgba(255, 108, 113, 1) 83%,
      rgba(182, 0, 0, 1) 100%
    );
    color: white;
    padding: 9px 30px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 30px;
    width: max-content;
    transform: translate(-50%, 50%);
    transition: all 0.5s ease;
  }
}
